:root {
  --main-font: "Inter";
  --main-wght-title: 700;
  --main-wght-text: 400;
  --accent-font: "PressStart2P"; 
  --main-font-color: #000;
  --main-background-color: #fff;
  --background-image: url(../images/background.png);
  --border-color: #000;
  --text-shadow-color: #fff;
  --font-size-main: 14px;
  --font-size-card: 18px;
  --heder-padding-block: 128px;
  --footer-but-flex-direction: row;
  --footer-but-align-items: start;
  --floppy-save-size: 21px;
  --dialog-padding-inline: 30px;
  --button-color: #fff;
  --heart-contour: #000;
  --heart-color: #FF0000;


  --background-left-right: repeating-linear-gradient(
    to right,
    transparent 0,
    #d3d3d3 1px,
    #d3d3d3 2px,
    transparent 3px,
    transparent 4px
  );

  --background-top-bottom: repeating-linear-gradient(
    to bottom,
    transparent 0,
    #d3d3d3 1px,
    #d3d3d3 2px,
    transparent 3px,
    transparent 4px
  );

  --background-fon: linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a
  );
}

@media (width < 376px) {
  :root{
    --heder-padding-block: 120px;
    --footer-but-flex-direction: column;
    --footer-but-align-items: center;
    --floppy-save-size: 28px;
    --dialog-padding-inline: 41px;
   }
}
